@import "vars";
@import "mixin";
html {
}
body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
  // prettier-ignore
  background-image: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05), 
                                                     rgba(255, 255, 255, 0.05) 1px, 
                                                       0, transparent 50px);
  background-color: #333;
}
a {
  color: inherit;
  text-decoration: none;
}

#header {
  height: 60px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  h1 {
    font-weight: 300;
    font-size: 18px;
    @include longShadow(#ccc, 50);
    text-transform: uppercase;
    strong {
      font-weight: 700;
    }
  }
}
.timeBox {
  display: flex;
  justify-content: center;
  font-size: 10rem;
  color: #fff;
  font-weight: 700;
  @include longShadow(#111, 600);
}
.dateBox {
  display: flex;
  justify-content: center;
  font-size: 48px;
  color: #fff;
  font-weight: 100;
  margin-bottom: 60px;
}

.dayBox {
  margin: 100px auto;
  color: #fff;
  font-size: 5rem;
  font-weight: 100;
  text-align: center;
  display: flex;
  justify-content: center;
  .txt {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0 20px;
    font-weight: 700;
    .num {
      font-size: 48px;
      margin-bottom: 10px;
      font-weight: 100;
    }
  }
}
